.idea/*
.idea/*.*
*.pyc

conf/settings.ini
static/admin/*
static/admin/*.*
static/admin
app/management/__init__.py
app/management/commands/__init__.py
gitpatron/fixtures/initial_data.json
fixtures
fixtures/*.*

projectFilesBackup/.idea/workspace.xml
