{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
{% include "head.html" %}
<!-- NAVBAR
================================================== -->
  <body>

    <!-- navbar -->
    {% include "topbar.html" %}



    <div class="container gitpatron-top-container">

       <div class="row" style="font-size: 2.0em; margin-bottom: 20px;">
            Attribution
       </div>

       <div class="row featurette">
        <div class="col-md-3">
            <img src="{{ STATIC_URL }}img/feature_mailbox.png" class="attribution-img"/>
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>mailbox</h2>
                <a href="https://www.flickr.com/photos/mrjoro/41626558">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>rocket fuel</h2>
                <a href="https://www.flickr.com/photos/peterthoeny/14544116703">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>donation box</h2>
                <a href="https://www.flickr.com/photos/joeshlabotnik/14098210941">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>yelling girl</h2>
                <a href="http://www.flickr.com/photos/demibrooke/2336528544">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>hands</h2>
                <a href="https://www.flickr.com/photos/krislitman/493626935">See original</a>
          </p>
        </div>

        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>boy with blocks</h2>
                <a href="https://www.flickr.com/photos/epsos/4370721677">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>locks</h2>
                <a href="https://www.flickr.com/photos/frizztext/7175239535">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>money</h2>
                <a href="https://www.flickr.com/photos/lalunablanca/1058204843">See original</a>
          </p>
        </div>
        </div>
       <div class="row featurette">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>garden</h2>
                <a href="https://www.flickr.com/photos/terriem/6090589760">See original</a>
          </p>
        </div>
       </div>

      </div>



    </div><!-- /.container -->
    {% include "footer.html" %}


  </body>
</html>
