{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
{% include "head.html" %}
<!-- NAVBAR
================================================== -->
  <body>

    <!-- navbar -->
    {% include "topbar.html" %}



    <div class="container gitpatron-top-container">

       <div class="row" style="font-size: 2.0em; margin-bottom: 20px;">
            Attribution
       </div>

       <div class="row featurette">
        <div class="col-md-3">
{#            <img data-src="holder.js/400x400/auto/#777:#7a7a7a/text:First slide" alt="Patrons">#}
            <img src="{{ STATIC_URL }}img/feature_mailbox.png" class="attribution-img"/>
        </div>
        <div class="col-md-9">
          <p class="lead">
                <h2>mailbox</h2>
                <a href="https://www.flickr.com/photos/mrjoro/41626558/in/photolist-3JKFff-cHDRcC-2uobEh-9PRzmF-4Fm8h-aDQSh-5iqSvF-6ZpegH-k1w9d6-4Da7VF-sZiRi-9NCKqo-vJeK5-7UQRh8-huiBHj-5QfRP-59PxyS-f1gLr-coa2c-56pcAF-daVFYT-fcJJpf-KrhN-251LCz-dGHnY4-EBbap-5D3oKx-7kUh5-7QNDwg-hMid41-cHDRgL-fKvDWd-jM1GNK-jWUyA-4rvAUN-6DChQQ-jA2P8m-edEuvV-6Dy8zV-fnyBaW-6JqRHB-5SqCVM-c56XB1-QjbfC-cimT-fiVtVR-9fejgL-2gUoA1-pJQ5c-KzAJi">See original</a>
          </p>
        </div>

      </div>



    </div><!-- /.container -->
    {% include "footer.html" %}


  </body>
</html>
