{% load gitpatrontags %}
<table class="table table-striped">
{% for claimed_issue in claimed.all %}
    <tr>
        <td class="col-md-4">
                <a href="{% url 'issue' claimed_issue.issue.repository.owner.user.username claimed_issue.issue.repository.name claimed_issue.issue.github_issue_no %}">
                #{{ claimed_issue.issue.github_issue_no }} {{ claimed_issue.issue.title }}</a>
        </td>
        <td class="col-md-2">
            <a href="{% url 'repo' claimed_issue.issue.repository.owner.user.username claimed_issue.issue.repository.name %}">
                    {{ claimed_issue.issue.repository.name }}</a>
        </td>
        <td class="col-md-6">
            &nbsp;
        </td>

    </tr>
{% endfor %}
</table>


