{#OBSOLETE#}
{#{% load gitpatrontags %}#}
{#{% if not issue|is_fixed %}#}
{#    {% if request.user and not issue|is_repo_owner:request.user %}#}
{#            {% if request.user and issue|is_claimer:request.user  %}#}
{#                {% if issue|is_monetized_fixer:request.user %}#}
{#                    <span>#}
{#                        WAITING#}
{#                    </span>#}
{#                {% elif request.user|is_wallet_activated == False %}#}
{#                    <span>#}
{#                        AUTHORIZE WALLET#}
{#                    </span>#}
{#                {% endif %}#}
{#            {% else %}#}
{#                {% if  issue|is_monetized == False  %}#}
{#                    &nbsp;#}
{#                {% elif issue|is_fixed == False %}#}
{#                    <span id="claim_section_{{ issue.id }}" style="display: block;">#}
{#                     <button class="btn btn-default btn-xs claim_issue" data-issue="{{ issue.id }}">#}
{#                        <span class="glyphicon glyphicon-refresh" style="display: none" id="issue_sync_icon"></span>#}
{#                        &nbsp;Claim Issue</button>#}
{#                    </span>#}
{#                {% endif %}#}
{#            {% endif %}&nbsp;#}
{##}
{#    {% endif %}#}
{#{% else %}#}
{#    &nbsp;#}
{#{% endif %}#}
