{% load gitpatrontags %}
{% if form.errors %}
<div class="form_errors bs-callout bs-callout-danger">
    <h4>Form Errors</h4>
    <p>Please fix the errors below and re-submit.</p>
    <ul>
    {% for error in form.git_commit_id.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    {% for error in form.message.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    {% for error in form.min_amount.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form action="{% url 'fix_form_ajax' %}" method="post" id="fix_form">{% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{field|addcss:"form-control"}}
        </div>
    {% endfor %}
{#    <p><input type="submit" value="Send message" class="btn btn-primary"/></p>#}
</form>