<div id="footer" class="panel-footer gitpatron-footer">
  <div class="container">
      <div class="col-md-5">
          <p class="muted credit">&copy; gitpatron 2014</p>
      </div>
      <div class="col-md-5">
          <a href="{% url 'attribution' %}" style="float: right; margin-right: 30px;">attribution</a>
      </div>
      <div class="col-md-1">
          <a href="https://github.com/claytantor/gitpatron/fork"><img src="{{ STATIC_URL }}img/fork-button.png" style="height: 32px; float: right;"></a>
      </div>
      <div class="col-md-1">
          <img src="{{ STATIC_URL }}img/by-nc-sa.png" style="height: 32px; float: right;">
      </div>

  </div>
</div>

