{% load gitpatrontags %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {
    $("#e1").select2();

    $('#publish_repo a').click(function (e) {

        var fullname = $('#e1').find(":selected").data('fullname');

        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        $.ajax({
            url:"/publish_repo_ajax/"+$('#e1').find(":selected").data('fullname')+"/",
            success:function(result){
                $("#repo_container").html(result);
                $("#publish_repo").hide();

            }
        });
        return false;
    });

    $('#chart').gpchart();

{#    //make this jquery please#}
{#    var chart = c3.generate({#}
{#        bindto: '#chart',#}
{#        data: {#}
{#          columns: [#}
{#            ['data1', 30, 200, 100, 400, 150, 250],#}
{#            ['data2', 50, 20, 10, 40, 15, 25]#}
{#          ]#}
{#        }#}
{#    });#}

});

</script>
<body>
{#    {% load makenextags  %}#}
    {% include 'topbar.html' %}
    <div class="container gitpatron-top-container">
        <div class="row">
            <ul id="project_tabs" class="nav nav-pills" style="margin-top: 15px;">
              <li class="active"><a href="#home" data-toggle="tab">Dashboard</a></li>
{#              <li><a href="#updates" data-toggle="tab">Updates <span class="badge">0</span></a></li>#}
{#              <li><a href="#patrons" data-toggle="tab">Supported Issues<span class="badge">0</span></a></li>#}
              <li><a href="#watched" data-toggle="tab">Watched <span class="badge">{{ watched|length }}</span></a></li>
              {% if repos %}
              <li><a href="#published_repos" data-toggle="tab">Published Repos <span class="badge">{{ repos|length }}</span></a></li>
              {% endif %}
            </ul>
        </div>


        <!-- Tab panes -->
    <div class="tab-content row row-offcanvas row-offcanvas-right" style="margin-top: 10px;">
      <div class="tab-pane active" id="home">
 <!-- home -->
            <div class="col-md-9" style="padding-left: 0px;">
              <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
              </p>
              <div class="jumbotron">
{#                  https://avatars.githubusercontent.com/u/407854#}
                  <table>
                      <tr>
                          <td style="width: 128px; vertical-align: 0px;padding-right: 10px">
                              <img src="{{  patron.github_avatar_url }}" class="gitpatron-avatar-128" alt="github avatar" >
                          </td>
                          <td>
                             <h1>Hello, {{ patron.github_login }}!</h1>
                            <p>This is where we want to show you a basic overview of
                                funding activity related to repos that you own as well
                                as projects you are a patron of.</p>
                            <p><a href="{%  url 'patron' patron.user.username %}">view profile</a></p>
                          </td>
                      </tr>
                  </table>
            </div>
            <div>
                <h2>Your Payments</h2>
                <div id="chart"></div>
            </div>

            <div>
                <h2>Your Feed</h2>
                {% if orders %}
                <table class="table table-striped">
                    {% for order in orders %}
                        <tr>
                            <td class="col-md-1"><h4>Payment</h4></td>
                            <td class="col-md-9"><strong>{{ order.button.issue.repository.name }}</strong> {{ order.button.issue.title }} {{ order.external_id }} {{ order.status }} </td>
                            <td class="col-md-2 coin-order-cents">{{ order.total_coin_cents|btc_cents }} {{ order.total_coin_currency_iso }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <strong>No Items in Your Feed Yet</strong>
                {% endif %}

            </div>


            </div><!--/span-->
            <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                {% include 'sidebar.html' %}
            </div><!--/span-->
 <!-- end home -->

      </div>
      <div class="tab-pane" id="watched">
            <div class="col-md-9" style="padding-left: 0px;">
              <h1>Watched</h1>
              {% include 'watching_table.html' %}
            </div>
            <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                {% include 'sidebar.html' %}
            </div><!--/span-->
      </div>
      <div class="tab-pane" id="patrons">Patrons</div>
      <div class="tab-pane" id="published_repos">
            <div class="col-md-9" style="padding-left: 0px;">
                <h1>Published Repos</h1>
                {% include 'repos_table.html' %}
            </div>
            <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                {% include 'sidebar.html' %}
            </div><!--/span-->
      </div>

    </div>

    </div> <!-- /container -->
    {% include "footer.html" %}
</body>
</html>
