{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
{% include "head.html" %}
<!-- NAVBAR
================================================== -->
  <body>

    <!-- navbar -->
    {% include "topbar.html" %}

    <!-- Carousel
    ================================================== -->
    <div id="carousel_area" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel_area" data-slide-to="0" class="active"></li>
        <li data-target="#carousel_area" data-slide-to="1"></li>
        <li data-target="#carousel_area" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
{#          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Patrons">#}
            <img src="{{ STATIC_URL }}img/carosel-contribute.png"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Help github projects with your bitcoin contributions.</h1>
              <p class="carousel-caption-byline">Contribute <strong>bitcoin</strong> using <a href="https://coinbase.com/">coinbase.com</a> to support issues you think
                  are important.</p>
              <p><a class="btn btn-lg btn-primary" href="http://eepurl.com/JoTxn" role="button">See Projects</a></p>
            </div>
          </div>
        </div>
        <div class="item">
{#          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Owners">#}
            <img src="{{ STATIC_URL }}img/carosel-patron.png"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Monetize your repository.</h1>
              <p><strong>gitpatron</strong> is your repository's electronic donation box.</p>
              <p><a class="btn btn-lg btn-primary" href="http://eepurl.com/JoTxn" role="button">Sign Up</a></p>
            </div>
          </div>
        </div>
        <div class="item">
{#          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Innvation">#}
            <img src="{{ STATIC_URL }}img/carosel-fuel.png"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Fueling Innovation</h1>
              <p><strong>gitpatron</strong> projects allow any developer to contribute and be rewarded for their skills with bitcoin.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">How To Contribute</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel_area" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#carousel_area" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container marketing">


      <div class="row featurette">
        <div class="col-md-5">
{#            <img data-src="holder.js/400x400/auto/#777:#7a7a7a/text:First slide" alt="Patrons">#}
            <img src="{{ STATIC_URL }}img/feature_patron.png" class="featurette-img"/>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 10px;">Be a patron. <span class="text-muted">And help open source projects thrive.</span></h2>
          <p class="lead">Github projects need your help. When you support project issues you have a voice in what gets fixed first, and developers are rewarded for their contributions.
              You only need a bitcoin wallet to contribute to any gitpatron project.</p>
            <p><a href="#bandit" class="btn btn-lg btn-primary" href="#" role="button">Become a Patron</a></p>
        </div>

      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
{#            <img data-src="holder.js/400x400/auto/#777:#7a7a7a/text:First slide" alt="Repo Owners">#}
                <img src="{{ STATIC_URL }}img/feature_repo_owner.png" class="featurette-img"/>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 10px;">Repo Owners. <span class="text-muted">Engage your loyal patrons and give them a voice.</span></h2>
          <p class="lead">What if your project fans could ask you directly for what they wanted simply by donating? Having a conversation with your
              patrons about your development road map, and giving them an opportunity to engage directly is like having a compass
              on the way to your project's success.</p>
            <p><a href="#transfix" class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
{#            <img data-src="holder.js/400x400/auto/#777:#7a7a7a/text:First slide" alt="Commiters">#}
            <img src="{{ STATIC_URL }}img/feature_committer.png" class="featurette-img"/>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 10px;">Committers. <span class="text-muted">Get paid for contributing to the projects you love.</span></h2>
          <p class="lead">You are a skilled developer with a love for helping open source succeed. You can name your own price for fixes that further the project.</p>
            <p><a href="#transfix" class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
            <img src="{{ STATIC_URL }}img/feature_mailbox.png" class="featurette-img"/>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 10px;">Subscribe. <span class="text-muted">Join our community and shape our future.</span></h2>
          {% include "mailchimp.html" %}
        </div>
      </div>



      <!-- /END THE FEATURETTES -->



      <!-- FOOTER -->

    </div><!-- /.container -->
    {% include "footer.html" %}


  </body>
</html>
