{% load gitpatrontags %}
{% load markdown_deux_tags %}
{% load humanize %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {

    $.ajax({ // ajax call starts
        url: '{{ settings.GITPATRON_APP_URL }}/issue/{{ issue.repository.owner.user.username }}/{{ issue.repository.name }}/{{ issue.github_issue_no }}/chart.json', // JQuery loads serverside.php
        dataType: 'json', // Choosing a JSON datatype
        success: function (chart_data) // Variable data contains the data we get from serverside
        {
            $('#chart').gpchart_timeseries(chart_data);
        }
    });

    $('button.claim_issue').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        issue_id = $(this).data('issue');
        $.ajax({
            url:"{{ settings.GITPATRON_APP_URL }}/claim_issue_ajax/"+issue_id+"/",
            success:function(result){
                $("#claim_section_"+issue_id).html('<span class="label label-warning gitpatron-label text-center" >claimed <span class="glyphicon glyphicon-warning-sign"></span></span>');
            },
            error:function( jqXHR,  textStatus,  errorThrown){
                console.log(errorThrown);
            }
        });
        return false;
    });

    $('button.monetize_issue').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        issue_id = $(this).data('issue')
        $.ajax({
            url:"{{ settings.GITPATRON_APP_URL }}/monetize_issue_ajax/"+issue_id+"/",
            success:function(result){
                $("#issue_monetize_"+issue_id).html(result);
            }
        });
        return false;
    });


    $('button.associate_pull').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');

    });

    $('button.show_markdown').click(function (e) {
        if($('#issue_markdown:visible').length){
            $(this).find('span.show_icon').removeClass('glyphicon-eye-close');
            $(this).find('span.show_icon').addClass('glyphicon-eye-open');
            $(this).find('span.show_text').html('Show Markup');
            $("#issue_markdown").toggle();
        }
        else {
            $(this).find('span.show_icon').removeClass('glyphicon-eye-open');
            $(this).find('span.show_icon').addClass('glyphicon-eye-close');

            $(this).find('span.show_text').html('Hide Markup');
            $("#issue_markdown").toggle();
        }



    });

});

</script>
<body>
    {% include 'topbar.html' %}
    <div class="container gitpatron-top-container" id="issue_container">
        <div class="col-md-9">
            <div class="panel panel-default gitpatron-hbar" >
              <div class="panel-body text-right gitpatron-hbar">
{#                {% include 'repo_button_ajax.html' %}#}
                {% if request.user and issue|is_issue_owner:request.user %}
                <button class="btn btn-default btn-sm sync-issue" role="button">Sync With Github</button>
                {% endif %}
              </div>
            </div>
            <ol class="breadcrumb">
              <li><a href="{% url 'patron' issue.repository.owner.user.username %}">{{ issue.repository.owner.user.username }}</a></li>
              <li><a href="{% url 'repo' issue.repository.owner.user.username issue.repository.name %}">{{ issue.repository.name }}</a></li>
              <li class="active"><strong>#{{ issue.github_issue_no }} {{ issue.title }}</strong></li>
            </ol>
            <div class="panel panel-default">
              <div class="panel-heading">
                  <div style="width: 50%; display: inline-block;"><h3 class="panel-title">#{{ issue.github_issue_no }} {{ issue.title }}</h3></div>
                  <div style="width: 45%; display: inline-block;" class="text-right">
                    <a target="_blank" class="btn btn-default btn-xs" href="{{ issue.github_html_url }}">View on github</a>
                    <button type="button" class="btn btn-default btn-xs show_markdown"><span class="show_icon glyphicon glyphicon-eye-open"></span> <span class="show_text">Show Markdown</span></button>
                  </div>
              </div>
              <div class="panel-body" style="display: none" id="issue_markdown">
{% markdown  %}
{{ issue.description }}
{% endmarkdown %}
              </div>
            </div>

            <div id="chart"></div>
            {% if patronage_orders|length > 0 %}
                <div>
                    <h2>Donations To This Issue</h2>
                    <h4>Patronage: {{ total_patronage|btc_cents }} BTC</h4>
                    {% with orders=patronage_orders type='donation' %}
                    <div>{% include 'order_table.html' %}</div>
                    {% endwith %}
                </div>
            {% else %}
                <h3>No Donations Have Been Made</h3>
                {% if issue|payment_status_filter == "claimed"  %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Warning!</strong> No payments for fixes can be made until donations have been made for this issue.
                </div>
                {% endif %}

            {% endif %}
            {% if issue.claimedissue_set.all|length > 0%}
            <div>
                <h2>Claims For Fix</h2>
                <h4>Paid Fixes: {{ total_fix|btc_cents }} BTC</h4>
                {% with issue.claimedissue_set.all as claimed_issues %}
                {% include 'claimed_issues_table.html' %}
                {% endwith %}
            </div>
            {% endif %}

        </div>
        <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {% include 'sidebar_issue.html' %}
        </div><!--/span-->

    </div> <!-- /container -->
    {% include "footer.html" %}
</body>
</html>
