{% load gitpatrontags %}
<table class="table table-striped" >
{% for issue in issues %}
     <tr>
        <td class="col-md-5">
            <a href="{% url 'issue' issue.repository.owner.user.username issue.repository.name issue.github_issue_no %}">
                #{{ issue.github_issue_no }} {{ issue.title }}
            </a>
        </td>
        <td class="col-md-1">
            <a class="btn btn-default btn-xs" target="_blank" href="{{ issue.github_html_url }}"><img src="{{ STATIC_URL }}img/github-icon-64.png" class="github-icon"/>&nbsp; View on github</a>
        </td>
        <td class="col-md-2 text-right" id="patronage_button_area_{{ issue.id }}">
            {% include 'repo_button_ajax.html' %}
{#            {% include 'fix_button_ajax.html' %}#}
        </td>
        <td class="col-md-4 text-right">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-10">
                <div class="row">
                  <div class="col-xs-8 col-sm-6" id="payment_status_{{ issue.id }}">
                    {% include 'payment_status.html' %}
                  </div>
                  <div class="col-xs-4 col-sm-6" >
                    {% if issue.status == 'closed' %}
                        <span class="label label-danger text-center" >{{ issue.status }} <span class="glyphicon glyphicon-remove-sign"></span></span>
                    {% else %}
                        <span class="label label-success text-center">{{ issue.status }} <span class="glyphicon glyphicon-ok-circle"></span></span>
                    {% endif %}
                  </div>
                </div>
            </div>
        </td>
     </tr>
{% endfor %}
</table>


