{% load gitpatrontags %}
{% load markdown_deux_tags %}
{% load humanize %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {

    $.ajax({ // ajax call starts
        url: '{{ settings.GITPATRON_APP_URL }}/issue/{{ issue.repository.owner.user.username }}/{{ issue.repository.name }}/{{ issue.github_issue_no }}/chart.json', // JQuery loads serverside.php
        dataType: 'json', // Choosing a JSON datatype
        success: function (chart_data) // Variable data contains the data we get from serverside
        {
            $('#chart').gpchart(chart_data);
        }
    });

    $('button.claim_issue').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        issue_id = $(this).data('issue');
        $.ajax({
            url:"{{ settings.GITPATRON_APP_URL }}/claim_issue_ajax/"+issue_id+"/",
            success:function(result){
                $("#claim_section_"+issue_id).html(result);
            },
            error:function( jqXHR,  textStatus,  errorThrown){
                console.log(errorThrown);
            }
        });
        return false;

    });

    $('button.monetize_issue').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        issue_id = $(this).data('issue')
        $.ajax({
            url:"{{ settings.GITPATRON_APP_URL }}/monetize_issue_ajax/"+issue_id+"/",
            success:function(result){
                $("#issue_monetize_"+issue_id).html(result);
            }
        });
        return false;
    });

     $('button.fix_submit').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        $.ajax({
            type: "POST",
            data: $("#fix_form").serialize(),
            url:"{% url 'fix_form_ajax' issue.repository.owner.user.username issue.repository.name issue.github_issue_no  %}",
            success:function(result){
                $("#fix_form_ajax").html(result);
            }
        });

    });

    $('button.fixed_claimed_issue').click(function (e) {
{#        params = { fixed_issue_id:$(this).data('fixed') } ;#}
        $.ajax({
            url:"{% url 'fix_form_ajax' issue.repository.owner.user.username issue.repository.name issue.github_issue_no  %}",
            success:function(result){
                $("#fix_form_ajax").html(result);
                $('#fix_modal').modal({});
            }
        });
    });


    $('button.associate_pull').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');

    });

});

</script>
<body>
    {% include 'topbar.html' %}
    <div class="container gitpatron-top-container" id="issue_container">
        <div class="col-md-9">

            <div class="nav navbar-right">
                <table class="table" style="margin-bottom: -30px;">
                     <tr>
                        <td style="border-top: 0px solid #ddd;">{% include 'repo_button_ajax.html' %}</td>
                        <td style="border-top: 0px solid #ddd;">{% include 'fix_button_ajax.html' %}</td>
                        <td style="border-top: 0px solid #ddd;">
                            <a href="https://twitter.com/share"
                               class="twitter-share-button"
                               data-via="gitpatron"
                               data-text="Donate to {{ issue.title }} from the {{ issue.repository.name }} project. Your #bitcoin patronage helps."
                               data-lang="en">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </td>

                        {% if request.user and issue|is_issue_owner:request.user %}
                        <td style="border-top: 0px solid #ddd;"><button class="btn btn-primary sync-issue" role="button">Sync With Github</button></td>
                        {% endif %}
                     </tr>
                </table>
            </div>

            <hr class="topline-divider">
            <div><a href="{% url 'patron' issue.repository.owner.user.username %}">{{ issue.repository.owner.user.username }}</a>/<a href="{% url 'repo' issue.repository.owner.user.username issue.repository.name %}">{{ issue.repository.name }}</a></div>
{#            issue details#}
            <div>
                <h1>#{{ issue.github_issue_no }} {{ issue.title }}</h1>
                <div>
{% markdown  %}
{{ issue.description }}
{% endmarkdown %}
                </div>


            </div>


            <hr class="topline-divider">

{% if orders|length > 0 %}
{#            donations#}
            <div>
                <h2>Donations To This Issue</h2>
                <h4>Patronage: {{ total_payments|btc_cents }} BTC</h4>
                <h4>Fix Payments: 0.0 BTC</h4>
                <div id="chart"></div>
                <div>{% include 'order_table.html' %}</div>
            </div>
{#            end donations#}
{% else %}
    <h3>No Donations Have Been Made</h3>
{% endif %}

            {% if issue.claimedissue_set.all|length > 0%}
            <div>
                <h2>Claims For Fix</h2>
                {% with issue.claimedissue_set.all as claimed_issues %}
                {% include 'claimed_issues_table.html' %}
                {% endwith %}
            </div>
            {% endif %}

        </div>
        <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {% include 'sidebar_issue.html' %}
        </div><!--/span-->

    </div> <!-- /container -->
    {% include "footer.html" %}
<!-- Modal -->
    <div class="modal fade" id="fix_modal" tabindex="-1" role="dialog" aria-labelledby="fix_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="fix_modal_label">Monetize fix</h4>
              <p>You are proving you have fixed the issue by submitting your commit id and setting the
                  donation you would like to accept for the fix.</p>
          </div>
          <div class="modal-body" id="fix_form_ajax">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary fix_submit">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
