{% load gitpatrontags %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {




});

</script>
<body>
    {% include 'topbar.html' %}
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <h1>{{ title }}</h1>
        </div>
        <div class="row">
            <table class="table table-striped">
            {% for order in orders %}

                <tr>
                    <td class="col-md-10"><strong>{{ order.button.issue.repository.name }}</strong> {{ order.button.issue.title }} {{ order.external_id }} {{ order.status }} </td>
                    <td class="col-md-2 coin-order-cents">{{ order.total_coin_cents|btc_cents }} {{ order.total_coin_currency_iso }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="row">
            <hr>
            <footer>
                <p>&copy; gitpatron 2014</p>
            </footer>
        </div>

    </div> <!-- /container -->
</body>
</html>
