{% load gitpatrontags %}
{% load humanize %}

<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {




});

</script>
<body>
    {% include 'topbar.html' %}
    <div class="container gitpatron-top-container">
        <div class="row">
            <h1>{{ title }}</h1>
        </div>
        <div class="row">
            {% include 'order_table.html' %}
        </div>
    </div> <!-- /container -->
    {% include "footer.html" %}
</body>
</html>
