{% load gitpatrontags %}
{% if pull_requests|length > 0  %}
<table class="table table-striped" >
    {% for pull_request in pull_requests %}
         <tr>
            <td class="col-md-5">
                <strong>#{{ pull_request.github_issue_no }} {{ pull_request.title }}</strong>
                <div id="update_section_{{ pull_request.id }}">
                    {% if pull_request.fix_issue != None %}
                        {% include 'pull_mapping_ajax.html' %}
                    {% endif %}
                </div>
            </td>
            <td class="col-md-1"><a target="_blank" class="btn btn-default btn-xs" href="{{ pull_request.github_html_url }}"><img src="{{ STATIC_URL }}img/github-icon-64.png" class="github-icon"/>&nbsp; View on github</a></td>
            <td class="col-md-3">{% include 'pull_button_ajax.html' %}</td>

            <td class="col-md-3 text-right">
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-8 col-sm-6" id="payment_status_{{ issue.id }}">
                    &nbsp;
                  </div>
                  <div class="col-xs-4 col-sm-6" >
                    {% if pull_request.status == 'closed' %}
                        <span class="label label-danger text-center" >{{ pull_request.status }} <span class="glyphicon glyphicon-remove-sign"></span></span>
                    {% else %}
                        <span class="label label-success text-center">{{ pull_request.status }} <span class="glyphicon glyphicon-ok-circle"></span></span>
                    {% endif %}
                  </div>
                </div>
            </div>
        </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

