<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {
    $('button.btn-publish').click(function (e) {

        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        var repo_id = $(this).data('repoid');
        $.ajax({
            url:"/publish_repo_ajax/"+$(this).data('fullname')+"/",

            success:function(result){
                $("#publish_area_"+repo_id).html(result);
            }
        });
        return false;
    });

});

</script>
<body>
{#    {% load makenextags  %}#}
    {% include 'topbar.html' %}
    <div class="container" style="margin-top: 60px;">

        <div class="row">
            <h1>Repos</h1>
            <div class="col-md-12">
                {% include 'repos_table.html' %}
{#                <table class="table table-striped">#}
{#                    {% for repo in repos %}#}
{#                        {% if repo.private == False %}#}
{#                        <tr>#}
{#                            <td class="col-md-10">{{ repo.name }}</td>#}
{##}
{#                            <td class="col-md-2">#}
{#                                {% if repo.pushed_at %}#}
{#                                    {{ repo.owner.owner }} <br/>#}
{#                                    {{ request.user.username }} <br/>#}
{#                                <div id="publish_area_{{ repo.id }}" class="publish_area">#}
{#                                    <button type="button" class="btn btn-primary btn-publish" data-repoid="{{ repo.id }}" data-fullname="{{ repo.full_name }}">Publish</button>#}
{#                                </div>#}
{#                                {% endif %}#}
{#                            </td>#}
{#                        </tr>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </table>#}

            </div>
        </div>

        <footer style="margin-top: 60px;">
            <p>&copy; gitpatron 2014</p>
        </footer>
    </div> <!-- /container -->

</body>
</html>
