<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {

});

</script>
<body>
    {% include 'topbar.html' %}
    <div class="container gitpatron-top-container">
        <div class="col-md-12">
            <h1>Repos</h1>
            {% if repos|length > 0 %}
            {% include 'repos_table.html' %}
            {% else %}
                <h2>No repos have been published yet.</h2>
            {% endif %}
        </div>
    </div> <!-- /container -->
    {% include "footer.html" %}
</body>
</html>
