{% load gitpatrontags %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {


    $('#publish_repo a').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        $.ajax({
            url:"{% url 'sync_issues_ajax' repo.owner.user.username repo.name %}",
            success:function(result){
                $("#issues_area").html(result);
                $('#issue_sync_icon').hide();
            }
        });
    });

    $('button.monetize_issue').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        issue_id = $(this).data('issue')
        $.ajax({
            url:"{{ settings.GITPATRON_APP_URL }}/monetize_issue_ajax/"+issue_id+"/",
            success:function(result){
                $("#issue_monetize_"+issue_id).html(result);
            }
        });
    });

    $('button.claim_issue').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        issue_id = $(this).data('issue')
        $.ajax({
            url:"{{ settings.GITPATRON_APP_URL }}/claim_issue_ajax/"+issue_id+"/",
            success:function(result){
                $("#claim_section_"+issue_id).html(result);
            }
        });

    });

});

</script>
<body>
    {% include 'topbar.html' %}
    <div class="container" style="margin-top: 60px;" id="repo_container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12 col-sm-9">
                {% if repo.owner.user.username == request.user.username %}
                <div>
                    <div class="nav navbar-right" id="publish_repo">
                    <a class="btn btn-primary" href="#" role="button">Sync Issues &raquo;</a>
                    </div>
                </div>
                {% endif %}
                <div>
                    <h1>{{ repo.name }}</h1>
                    <h4>Patronage: {{ sum_patronage_cents|btc_cents }} BTC</h4>
                    <h4>Fix Payments: {{ sum_fix_cents|btc_cents }} BTC</h4>
                    <p>{{ repo.github_description }}</p>
                    {% if repo.owner.user.username == request.user.username and not request.user|is_wallet_activated %}
                    <p>
                        <div class="form_errors bs-callout bs-callout-danger">
                            <h4>Wallet Not Activated</h4>
                            <p>You own this repo but have not activated your coinbase wallet
                            so you are not able to monetize issues. Activate your wallet and
                            you will be able to create donation buttons and pay committers.</p>
                            <p><a class="btn btn-danger" href="{% url 'cb_auth_redirect' %}" role="button">Activate My Wallet Now &raquo;</a></p>
                        </div>
                    </p>
                    {% endif %}
                    <div id="issues_area">
                        {% include 'issues_ajax.html' %}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                {% include 'sidebar.html' %}
            </div><!--/span-->
        </div>




    </div> <!-- /container -->
</body>
</html>
