{% load gitpatrontags %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}
<script type="text/javascript">

$(document).ready(function() {

    {% if  request.user|wallet_state_filter >= 5 %}
        $('#project_tabs a[href="#settings"]').tab('show');
    {% else %}
        $('#project_tabs a[href="#wallet"]').tab('show');
    {% endif %}

    var wallet_wf_state = {% wallet_state request.user %};

    settings_workflow_state_init_ui(wallet_wf_state);

    function settings_workflow_state_init_ui(this_state){

        for (i = 0; i < this_state; i++) {
            $("#wf_list_"+i).find("span").removeClass( "glyphicon-minus" );
            $("#wf_list_"+i).find("span").addClass( "glyphicon-ok" );
        }

        $("#wf_list_"+this_state).find("span").removeClass( "glyphicon-minus" );
        $("#wf_list_"+this_state).find("span").addClass( "glyphicon-star" );
        $("#wf_list_"+this_state ).removeClass( "disabled" );
        $("#wallet_step_"+this_state).show();

    }

    function settings_workflow_state_change_ui(this_state, next_state){
        $("#wallet_step_"+this_state).fadeOut( "slow", function() {
            $("#wf_list_"+this_state).find("span").removeClass( "glyphicon-star" );
            $("#wf_list_"+this_state).find("span").addClass( "glyphicon-ok" );

            $("#wf_list_"+next_state).find("span").removeClass( "glyphicon-minus" );
            $("#wf_list_"+next_state).find("span").addClass( "glyphicon-star" );

            $("#wf_list_"+this_state ).toggleClass( "disabled" );
            $("#wf_list_"+next_state ).toggleClass( "disabled" );
            $("#wallet_step_"+this_state).hide();
            $("#wallet_step_"+next_state).show();
        });
    }


    $('button.wallet_wf_next').click(function (e) {

        var wf_state = $(this).data("wf-state");
        var state_url = "{{ settings.GITPATRON_APP_URL }}/wallet_wf_ajax/"+wf_state+"/";
        if(wf_state==2)
            state_url+="?address="+$("#walletAddress").val();

        $.ajax({
            url:state_url,
            success:function(data){
                console.log(data.message);
                if(data.next_state==2){
                    var this_state = data.this_state;
                    var next_state = data.next_state;
                    settings_workflow_state_change_ui(this_state, next_state);

                } else if (data.next_state==3){
                    var this_state = data.this_state;
                    var next_state = data.next_state;
                    settings_workflow_state_change_ui(this_state, next_state);

                }
            }
        });
        return false;
    });

    $('#confirm-revoke').on('show.bs.modal', function(e) {
        $(this).find('.danger').attr('data-href', $(e.relatedTarget).data('href'));
    });

    $('a.do-it').click(function (e) {
        if($("#confirmRevokeType").val()=='REVOKE'){
            $(this).attr('href', $(this).data('href'));
        }
    });



});

</script>
<body>
{#    {% load makenextags  %}#}
    {% include 'topbar.html' %}
    <div class="container gitpatron-top-container">

        {% if  request.user|wallet_state_filter >= 5 %}
        <div class="row">
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 10px;">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <span class="glyphicon glyphicon-ok gitpatron-green"></span>&nbsp; <strong>Hooray!</strong> Your coinbase wallet has been successfuly integrated with <strong>gitpatron</strong>.
            </div>
        </div>
        {% endif %}
        <div class="row">
            <ul id="project_tabs" class="nav nav-pills" style="margin-top: 15px;">
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
                <li><a href="#wallet" data-toggle="tab">Wallet</a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" id="settings">
{#                {% if  request.user|wallet_state_filter >= 5 %}#}
{#                <div class="row">#}
{#                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 10px;">#}
{#                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
{#                      <span class="glyphicon glyphicon-ok gitpatron-green"></span>&nbsp; <strong>Hooray!</strong> Your coinbase wallet has been successfuly integrated with <strong>gitpatron</strong>.#}
{#                    </div>#}
{#                </div>#}
{#                {% endif %}#}
                <div class="row">
                    <div class="col-md-9" style="padding-left: 0px;">
                        <h1>Settings</h1>
                        <div class="col-md-6">
                            <form action="{% url 'patron_settings' %}" method="post" id="fix_form">{% csrf_token %}
    {#                            Include the hidden fields#}
                                {% for hidden in settings_profile_form.hidden_fields %}
                                {{ hidden }}
                                {% endfor %}
    {#                            Include the visible fields#}
                                {% for field in settings_profile_form.visible_fields %}
                                    <div class="fieldWrapper" style="margin-bottom: 10px;">
                                        {{ field.label_tag }} {{field|addcss:"form-control"}}
                                    </div>
                                {% endfor %}
                                <p style="margin-top: 20px;"><input type="submit" value="Save Settings" class="btn btn-primary"/></p>
                            </form>
                        </div>


                    </div>
                    <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        {% include 'sidebar.html' %}
                    </div><!--/span-->
                </div>
            </div>
            <div class="tab-pane" id="wallet">
{#                {% if  request.user|wallet_state_filter >= 5 %}#}
{#                <div class="row">#}
{#                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 10px;">#}
{#                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
{#                      <span class="glyphicon glyphicon-ok gitpatron-green"></span>&nbsp; <strong>Hooray!</strong> Your coinbase wallet has been successfuly integrated with <strong>gitpatron</strong>.#}
{#                    </div>#}
{#                </div>#}
{#                {% endif %}#}
                <div class="row">
                     <div class="col-md-9" style="padding-left: 0px;">

                           <h1>Wallet</h1>
                           {% if  request.user|wallet_state_filter < 5 %}
                                <div class="form_errors bs-callout bs-callout-danger">
                                    <h4>Warning: Your Wallet Needs To Be Activated</h4>
                                    <p>While you don't need to activate a coinbase wallet to donate to an issue (any bitcoin wallet will work), you do need
                                    one to publish repos, or receive payment. That's because we directly integrate the coinbase API
                                    into the publisher and fixer workflow to automate the payment process. <strong>Its completely free
                                    and easy to create a coinbase wallet so please follow the directions below to
                                    activate your wallet now.</strong></p>
                                </div>
                            {% endif %}

                        <div>
                            {% if request.user|wallet_state_filter < 5 %}
                            <div class="col-md-8">
                                <div id="wallet_step_1" style="display: none;">
                                    <h3>Let's Create Your Coinbase Wallet!</h3>
                                    <p>Its super easy to create a coinbase wallet, and you will need one if you plan on publishing your
                                    github repositories or if you want to collect bitcoin for fixing issues. You will need to come back
                                        to this page for the next step once you have created your account.
                                    </p>
                                    <p><strong>Click on the "bitcoin accepted here" button below now
                                    to create your wallet on coinbase. </strong></p>
                                    <div style="margin-top: 10px;"><a href='https://coinbase.com/?r=534c8de816403ea6c3000016&utm_campaign=user-referral&src=badge'
                                     alt='Create A Bitcoin Wallet On Coinbase'><img src='https://coinbase.com/assets/badges/badge3.png'
                                     width='120' height='40' /></a>
                                    <button href="{% url 'wallet_wf_ajax' 1 %}" class="btn-primary btn wallet_wf_next" style="margin-left: 10px;" data-wf-state="1">I Have A Coinbase Wallet</button>
                                    </div>
                                </div>
                                <div id="wallet_step_2" style="display: none;">
                                    <h3>Enter Your Coinbase Wallet Address</h3>
                                    <p>
                                        We need your wallet address to verify that you have a coinbase wallet. This is done by asking you
                                        to make a small donation (less than one USD) to gitpatron which we will track to verify that you wallet has been successfully
                                        created.
                                    </p>
                                    <p>
                                        <form class="form-inline" role="form">
                                          <div class="form-group">
                                            <label class="sr-only" for="walletAddress">Coinbase wallet address</label>
                                            <input type="text" class="form-control" style="width: 300px;" id="walletAddress" placeholder="Enter wallet address">
                                          </div>
                                          <button href="{% url 'wallet_wf_ajax' 2 %}" data-wf-state="2" class="btn btn-primary wallet_wf_next">Save Address</button>
                                        </form>
                                    </p>
                                </div>
                                <div id="wallet_step_3" style="display: none;">
                                    <h3>Activate The Wallet Integration with Gitpatron</h3>
                                    <p>
                                        Gitpatron and Coinbase are integrated via the <a target="_blank" href="https://coinbase.com/docs/api/overview">
                                        Coinbase API</a> which requires
                                        <a target="_blank" href="http://en.wikipedia.org/wiki/OAuth">OAuth 2.0</a> approval from
                                        the owner of the wallet. You will be directed to the Coinbase site, approve the
                                        request then will arrive back here for the next step.
                                    </p>
                                    <p>
                                        <a href="{% url 'cb_auth_redirect' %}" class="btn btn-primary">Authorize My Wallet</a>
                                    </p>
                                </div>
                                <div id="wallet_step_4" style="display: none;">
                                    <h3>Verify Activation With Payment</h3>
                                    <p>
                                        To verify that your wallet is properly integrated we require that you make a small donation (<0.99 USD)
                                        that we then track to verify that your wallet is fully integrated.
                                        <strong>Please complete donation to link your wallet to gitpatron.</strong> Once you have made the donation
                                        wait about 10 seconds and <strong>Refresh Settings</strong>.
                                    </p>
                                    <p>
                                        {% if  request.user|wallet_state_filter == 4 %}
                                            <a class="coinbase-button"
                                               data-code="{% wallet_activation_button_code request.user %}"
                                               data-button-style="donation_small"
                                               href="https://coinbase.com/checkouts/{% wallet_activation_button_code request.user %}">
                                                Donate Bitcoins</a>
                                            <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                                            <a href="{% url 'patron_settings' %}" class="btn btn-primary" style="margin-top: -50px;">Refresh Settings</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Your to-do list.</h4>
                                <div class="list-group">
                                    <a href="#" id="wf_list_1" class="list-group-item disabled"><span class="glyphicon glyphicon-minus"></span>&nbsp;Create Coinbase Wallet</a>
                                    <a href="#" id="wf_list_2" class="list-group-item disabled"><span class="glyphicon glyphicon-minus"></span>&nbsp;Enter Your Coinbase Address</a>
                                    <a href="#" id="wf_list_3" class="list-group-item disabled"><span class="glyphicon glyphicon-minus"></span>&nbsp;Activate Your Wallet</a>
                                    <a href="#" id="wf_list_4" class="list-group-item disabled"><span class="glyphicon glyphicon-minus"></span>&nbsp;Donate to <strong>gitpatron</strong></a>
                                  </div>
                            </div>
                            {% else %}
                            <div>
                                <table class="table table-striped">
                                    <thead><th class="col-md-5">Property Name</th><th>Value</th></thead>
                                    <tr><td>Your Wallet Address</td><td><code>{{ patron.wallet_address }}</code></td></tr>
                                </table>
                            </div>

                            <div>
                                <button data-href="{% url 'revoke_wallet' %}" class="btn btn-danger btn-lg revoke" data-toggle="modal" data-target="#confirm-revoke" data-action="revoke" >Revoke Coinbase Wallet Access</button>
                            </div>
                            {% endif %}

                        </div>


                    </div>
                    <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        {% include 'sidebar.html' %}
                    </div><!--/span-->

                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}


<!-- Modal -->
<div class="modal fade" id="confirm-revoke" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Confirm Revoke Access</h1>
            </div>
            <div class="modal-body">
               <p>If you revoke gitpatron access to to your coinbase wallet you will no longer be able to monetize your published
                repositories or your fixed issue. You can re-authorize but it will require going through the complete
                authorization process again. <strong>You must type "REVOKE" below to confirm this request.</strong>

                </p>
                <div class="form-group">
                    <label for="confirmRevokeType">Please type REVOKE to continue...</label>
                    <input type="text" class="form-control" id="confirmRevokeType" placeholder="Type it here.">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-danger danger do-it">Do It!</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
