{% load gitpatrontags %}
<div  class="issue-sidebar">
    <div style="margin-left: 10px; margin-top: 10px;">
        <div style="font-size: x-large; font-weight: 900; line-height: 1.0;">{{ patronage_orders|length }}</div>
        <div style="font-size: xx-small; margin-bottom: 10px;">Patronage Payments</div>
        <div style="font-size: x-large; font-weight: 900; line-height: 1.0;">{{ total_patronage|btc_cents }} BTC</div>
        <div style="font-size: xx-small; margin-bottom: 10px;">Total Patronage Payments Value</div>
        <div style="font-size: x-large; font-weight: 900; line-height: 1.0;">{{ total_fix|btc_cents }} BTC</div>
        <div style="font-size: xx-small; margin-bottom: 10px;">Total Fix Payments Value</div>
    </div>
</div>