{% load gitpatrontags %}
{% if request.user.is_authenticated %}
  <span class="sidebar-title">Gitpatron</span>
  <div class="list-group">
    <a href="{% url 'patron_settings' %}" class="list-group-item">Settings</a>
    <a href="{% url 'public_repos' %}" class="list-group-item">Browse Published</a>
  </div>
  </hr>
  <span class="sidebar-title">Github</span>
  <div class="list-group">
    <a href=#" class="list-group-item">Sync with Github</a>
  </div>
  </hr>


  <span class="sidebar-title">Repo Owners</span>
  <div class="list-group">
    {% if  request.user|wallet_state_filter >= 5 %}
        <a href="#" class="list-group-item disabled">Authorize My Wallet - DONE</a>
        <a href="{% url 'github_repos' %}" class="list-group-item">Publish A Repo</a>
    {% else %}
        <a href="{% url 'patron_settings' %}" class="list-group-item">Authorize My Wallet</a>
    {% endif %}
  </div>
  </hr>

  <span class="sidebar-title">Committers</span>
  <div class="list-group">
    {% if  request.user|wallet_state_filter >= 5 %}
        <a href="#" class="list-group-item disabled">Activate My Wallet - DONE</a>
        <a href="{% url 'user_claimed' %}" class="list-group-item">Claimed Issues</a>
        <a href="{% url 'payments' %}" class="list-group-item">Payments</a>
    {% else %}
        <a href="{% url 'patron_settings' %}" class="list-group-item">Authorize My Wallet</a>
    {% endif %}
  </div>
{% else %}
    <span class="sidebar-title">Non Member Menu</span>
    <div class="list-group">
        <a href="#" class="list-group-item">Join <stron>gitpatron</stron></a>
    </div>

{% endif %}