{% load gitpatrontags %}
<script type="text/javascript">

$(document).ready(function() {
    $('button.watching_repo').click(function (e) {
        $(this).find('span').show();
        $(this).find('span').toggleClass('glyphicon-refresh-animate');
        repo_id = $(this).data('repoid')
        $.ajax({
            url:"/watch_repo_ajax/"+repo_id+"/",
            success:function(result){
                $("#watching_section").html(result);
            }
        });
        return false;
    });

});

</script>
    {% if request.user.is_authenticated and repo|is_watched:request.user %}
    <span id="watching_section">
            <button class="btn btn-default btn-sm watching_repo gitpatron-hbar-button" role="button" data-repoid="{{ repo.id }}">
                <span class="glyphicon glyphicon-eye-close"></span> Stop Watching</button>
    </span>
    {% elif request.user.is_authenticated  %}
    <span id="watching_section">
            <button class="btn btn-default btn-sm watching_repo gitpatron-hbar-button" role="button"  data-repoid="{{ repo.id }}">
                <span class="glyphicon glyphicon-eye-open"></span> Watch This</button>
    </span>
    {% endif %}